<?xml version="1.0" encoding="utf-8"?>
<!-- TODO When this line "android:screenOrientation="portrait" will been deleted, need to delete "tools:ignore="LockedOrientationActivity".-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".di.WeatherApp"
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@drawable/icon_weather"
      android:label="@string/app_name"
      android:roundIcon="@drawable/icon_weather"
      android:supportsRtl="true"
      android:enableOnBackInvokedCallback="true"
      tools:targetApi="tiramisu">
    <!-- TODO In the future it is necessary to fix the this line "android:screenOrientation="portrait" and to add screen orientation handling.-->
    <activity
        android:name=".presentation.MainActivity"
        android:exported="true"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.FreshWeather">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>